@import url("http://fonts.cdnfonts.com/css/qatar2022-arabic");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  background: linear-gradient(36.2711deg, #901831, #310818);
  font-family: "Qatar2022 Arabic", sans-serif;
}

#root {
  padding: 1.5rem;
}

.layout-dropdown .dropdown {
  background: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.layout-dropdown .dropdown .arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0.7rem;
}
.layout-dropdown .dropdown .arrow svg:last-child {
  position: absolute;
  color: #EEEEE4;
}
.layout-dropdown .name-flag {
  position: absolute;
  left: 0.7rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.layout-dropdown .name-flag img {
  width: 2.2rem;
}
.layout-dropdown .name-flag span {
  font-family: "Qatar2022 Arabic", sans-serif;
  font-size: 1.1rem;
  color: #80192E;
}
.layout-dropdown .item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.layout-dropdown .item button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 0.4rem;
}
.layout-dropdown .item button:hover, .layout-dropdown .item button:focus {
  background-color: rgb(211, 208, 208);
}
.layout-dropdown .item button img {
  width: 2.2rem;
}
.layout-dropdown .item button span {
  font-family: "Qatar2022 Arabic", sans-serif;
  font-size: 1.1rem;
  color: #80192E;
}

.separtor {
  display: none;
}

/* ------------------------------ Style Navigation ------------------------------ */
.side-nav {
  display: none;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-header .dropdown:hover {
  opacity: 0.9;
  transform: scale(0.9);
  transition: all 0.3s;
}
.mobile-header img {
  width: 11rem;
}
.mobile-header .layout-dropdown {
  position: relative;
}
.mobile-header .layout-dropdown .list-item {
  position: absolute;
  right: 0;
  display: none;
  top: 3.5rem;
}
.mobile-header .layout-dropdown .list-item .item {
  gap: 0.4rem;
}
.mobile-header .layout-dropdown .list-item .item button {
  padding: 0.4rem;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #EEEEE4;
}
.mobile-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav ul li {
  list-style: none;
}
.mobile-nav ul li a {
  display: flex;
  font-size: 2rem;
  color: #80192E;
}
.mobile-nav ul li a:hover {
  color: rgba(128, 25, 46, 0.9);
  transform: scale(0.9);
  transition: all 0.3s;
}
.mobile-nav ul li .active {
  /*color: $background-active;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
  border-bottom: .3rem solid $background-active;
  padding-bottom: .3rem;*/
  background-color: #E32052;
  color: #EEEEE4;
  border-radius: 3.125rem;
  padding: 0.8rem;
}
.mobile-nav ul li .active:hover {
  color: #fff;
  opacity: 0.9;
}

/* Responsive */
@media screen and (min-width: 1000px) {
  #root {
    max-width: 180rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0rem;
    padding-right: 1.5rem;
  }
  /* ------------------------------ Style Navigation ------------------------------ */
  .mobile-header {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .side-nav {
    min-height: 100vh;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    position: fixed;
    padding: 1.5rem;
    padding-right: 0rem;
  }
  .side-nav .logo {
    width: 100%;
  }
  .side-nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .side-nav ul li {
    list-style: none;
  }
  .side-nav ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-nav ul li a svg {
    fill: #60071e;
  }
  .side-nav ul li a:hover {
    opacity: 0.9;
    transform: scale(0.9);
    transition: all 0.3s;
  }
  .side-nav ul li a span {
    position: absolute;
    font-family: "Qatar2022 Arabic", sans-serif;
    color: #EEEEE4;
    font-size: 1.1rem;
  }
  .side-nav ul li .active #Path_1611 {
    fill: #E32052;
  }
  .side-nav .layout-dropdown {
    display: flex;
    position: relative;
  }
  .side-nav .layout-dropdown .dropdown {
    width: 12.5rem;
  }
  .side-nav .layout-dropdown .dropdown:hover {
    opacity: 0.9;
    transform: scale(0.9);
    transition: all 0.3s;
  }
  .side-nav .layout-dropdown .dropdown .name-flag {
    left: 1.7rem;
  }
  .side-nav .layout-dropdown .list-item {
    position: absolute;
    bottom: -0.5rem;
    left: 13rem;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .side-nav .layout-dropdown .list-item .item {
    top: 0.8rem;
    height: 7.7rem;
  }
  .side-nav .layout-dropdown .show {
    display: flex;
  }
  .separtor {
    height: 100vh;
    padding: 1.5rem 0 1.5rem 0;
    position: fixed;
    margin-left: 17.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    margin-left: 22.4rem;
    width: 100%;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  main .group-matches {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    gap: 3.5rem;
  }
  main .group-matches .group-head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .group-matches .all-matches {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  main .group-matches .all-matches .match {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  main .group-matches .all-matches .match .match-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .group-matches .all-matches .match .match-info .item-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  main .group-matches .all-matches .match .match-info .item-info .name-item-info {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
    width: 9.4rem;
    color: #EEEEE4;
    font-size: 1rem;
    margin-left: 2.7rem;
  }
  main .group-matches .all-matches .match .match-play {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main .group-matches .all-matches .match .match-play .team {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    flex: 1;
  }
  main .group-matches .all-matches .match .match-play .team img {
    width: 8rem;
  }
  main .group-matches .all-matches .match .match-play .team span {
    color: #EEEEE4;
    font-size: 1.8rem;
  }
  main .group-matches .all-matches .match .match-play .team-right {
    flex-direction: row-reverse;
  }
  main .group-matches .all-matches .match .match-play .play-button {
    display: flex;
    background: none;
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
  }
  main .group-matches:first-child {
    margin-top: 0;
  }
}/*# sourceMappingURL=App.css.map */