@import url("http://fonts.cdnfonts.com/css/qatar2022-arabic");
@import url("http://fonts.cdnfonts.com/css/qatar2022-arabic");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #711329;
  font-family: "Qatar2022 Arabic", sans-serif;
}

#root {
  padding: 0.5rem;
}

.side-nav {
  display: none;
}

.separtor {
  display: none;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-header .logo {
  width: 40vw;
}
.mobile-header .layout-dropdown {
  position: relative;
  width: 27vw;
}
.mobile-header .layout-dropdown button {
  background: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mobile-header .layout-dropdown button svg:first-child {
  width: 100%;
  height: 100%;
}
.mobile-header .layout-dropdown button .content-button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-left: 1.7vw;
  padding-right: 1.7vw;
}
.mobile-header .layout-dropdown button .content-button .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-header .layout-dropdown button .content-button .arrow svg:first-child {
  width: 5vw;
}
.mobile-header .layout-dropdown button .content-button .arrow svg:last-child {
  position: absolute;
  color: #EEEEE4;
  width: 4vw;
  height: 4vw;
}
.mobile-header .layout-dropdown button .content-button .name-flag {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.mobile-header .layout-dropdown button .content-button .name-flag img {
  width: 8vw;
}
.mobile-header .layout-dropdown button .content-button .name-flag span {
  font-family: "Qatar2022 Arabic", sans-serif;
  font-size: 4vw;
  color: #80192E;
}
.mobile-header .layout-dropdown .list-item {
  position: absolute;
  display: none;
  margin-top: 2vw;
}
.mobile-header .layout-dropdown .list-item .item {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.7vw;
  padding-right: 1.7vw;
  gap: 1.7vw;
  width: 100%;
}
.mobile-header .layout-dropdown .list-item .item button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 1vw;
}
.mobile-header .layout-dropdown .list-item .item button:hover, .mobile-header .layout-dropdown .list-item .item button:focus {
  background-color: rgb(211, 208, 208);
}
.mobile-header .layout-dropdown .list-item .item button img {
  width: 8vw;
}
.mobile-header .layout-dropdown .list-item .item button span {
  font-family: "Qatar2022 Arabic", sans-serif;
  font-size: 4vw;
  color: #80192E;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.3rem;
  background-color: #EEEEE4;
  z-index: 1;
}
.mobile-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav ul li {
  list-style: none;
}
.mobile-nav ul li a {
  display: flex;
  color: #80192E;
  font-size: 8vw;
  border-radius: 3.125rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
.mobile-nav ul li a:hover {
  color: rgba(128, 25, 46, 0.9);
  transform: scale(0.9);
  transition: all 0.3s;
}
.mobile-nav ul li .active {
  background-color: #E32052;
  color: #EEEEE4;
}
.mobile-nav ul li .active:hover {
  color: #fff;
  opacity: 0.9;
}

main {
  padding-top: 1.5rem;
  padding-bottom: 15vw;
  display: flex;
  flex-direction: column;
  gap: 9vw;
}
main .group-matches {
  display: flex;
  flex-direction: column;
  gap: 9vw;
}
main .group-matches .group-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .group-matches .group-head svg {
  width: 70vw;
}
main .group-matches .all-matches {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
main .group-matches .all-matches .match {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
main .group-matches .all-matches .match img {
  width: 15vw;
}
main .group-matches .all-matches .match .team-name {
  font-size: 4vw;
  color: #EEEEE4;
  width: 26.8vw;
  text-align: center;
  overflow: hidden;
}
main .group-matches .all-matches .match .match-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
main .group-matches .all-matches .match .match-info .item-info {
  display: flex;
  width: 100vw;
  position: relative;
  align-items: center;
}
main .group-matches .all-matches .match .match-info .item-info svg {
  width: 100%;
  height: 100%;
}
main .group-matches .all-matches .match .match-info .item-info span {
  position: absolute;
  padding-left: 6.4vw;
  width: 100%;
  font-size: 2.5vw;
  color: #EEEEE4;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}
main .group-matches .all-matches .match .match-play {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}
main .group-matches .all-matches .match .match-play .team {
  display: flex;
  align-items: center;
  width: 100%;
}
main .group-matches .all-matches .match .match-play .team-right {
  flex-direction: row-reverse;
}
main .group-matches .all-matches .match .match-play .play-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3.125rem;
  background: none;
  border: none;
  cursor: pointer;
}
main .group-matches .all-matches .match .match-play .play-button svg {
  width: 7vw;
}
main .group-matches .all-matches .match .match-time {
  display: flex;
}
main .group-matches .all-matches .match .match-time .teams {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
}
main .group-matches .all-matches .match .match-time .teams .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
main .group-matches .all-matches .match .match-time .teams .team .team-name {
  width: 20.2vw;
  overflow: hidden;
}
main .group-matches .all-matches .match .match-time .teams .vs {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main .group-matches .all-matches .match .match-time .teams .vs svg {
  width: 7vw;
}
main .group-matches .all-matches .match .match-time .start-time {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
main .group-matches .all-matches .match .match-time .start-time svg {
  width: 10vw;
}
main .group-matches .all-matches .match .match-time .start-time .time {
  display: flex;
  gap: 0.3rem;
}
main .group-matches .all-matches .match .match-time .start-time .time span {
  color: #EEEEE4;
  font-size: 7vw;
}

@media screen and (max-width: 252px) {
  #root {
    width: 252px;
  }
}/*# sourceMappingURL=App.css.map */