@import url('http://fonts.cdnfonts.com/css/qatar2022-arabic');
$color-text:#80192E;
$background-active:#E32052;
$white: #EEEEE4;
$size-padding : 1.5rem;
$font: 'Qatar2022 Arabic', sans-serif;

@import url('http://fonts.cdnfonts.com/css/qatar2022-arabic');
$color-text:#80192E;
$background-active:#E32052;
$white: #EEEEE4;
$size-padding : 1.5rem;
$font: 'Qatar2022 Arabic', sans-serif;



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body{
  height: 100%;
}

body{
  background-color: #711329;
  font-family: $font;
}

#root{
  padding: 0.5rem;
}


.side-nav{
  display: none;
}

.separtor{
  display: none;
}

.mobile-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo{
    width: 50%;
  }

  .layout-dropdown{
    position: relative;
    width: 28%;
    button{
      background:none;
      border: none;
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      svg:first-child{
        width: 100%;
        height: 100%;
      }
      .content-button{
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        bottom: 0;
        width: 100%;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        .arrow{
          display: flex;
          justify-content: center;
          align-items: center;
          svg:first-child{
            width: 5vw;
          }
          svg:last-child{
            position: absolute;
            color: $white;
          }
        }
        .name-flag{
          display: flex;
          align-items: center;
          gap: .3rem;
          img{
            width: 8vw;
          }
          span{
            font-family: $font;
            font-size: 4vw;
            color: $color-text;
          }
        }
      }
    }
    .list-item{
      position: absolute;
      display: flex;
      margin-top: .5rem;
      .item{
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        width: 100%;
        button{
          display: flex;
          align-items: center;
          gap: .3rem;
          width: 100%;
          background: none;
          border: none;
          cursor: pointer;
          border-radius: .3rem;
          padding: 1vw;
          &:hover,&:focus{
            background-color: rgb(211, 208, 208);
          }
          img{
            width: 8vw;
          }
          span{
            font-family: $font;
            font-size: 4vw;
            color: $color-text;
          }
        }
      }
    }
  }
}