@import url('http://fonts.cdnfonts.com/css/qatar2022-arabic');
$color-text:#80192E;
$background-active:#E32052;
$white: #EEEEE4;
$size-padding : 1.5rem;
$font: 'Qatar2022 Arabic', sans-serif;



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  height: 100vh;
}

body{
  background: linear-gradient(36.2711deg,#901831,#310818);
  font-family: $font;
}

#root{
  padding: $size-padding;
}

.dropdown {
  background: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  .name-flag{
    position: absolute;
    left: .7rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    img{
      width: 2.2rem;
    }
    span{
      font-family: $font;
      color:$white ;
      font-size: 1.1rem;
      color: $color-text;
    }
  }

  .arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: .7rem;
    svg:last-child{
      position: absolute;
      color: $white;
    }
  }
}


.side-nav{
  display: none;
}

.mobile-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  img{
    width: 11rem;
  }
}

.mobile-nav{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $white;
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    li{
      list-style: none;
      a{
        display: flex;
        font-size: 2rem;
        color: $color-text;
      }
      .active{
        /*color: $background-active;
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;
        border-bottom: .3rem solid $background-active;
        padding-bottom: .3rem;*/
        background-color: $background-active;
        color: $white;
        border-radius: 3.125rem;
        padding: .8rem;
      }
    }
  }
}


/* Responsive */

@media screen and (min-width: 1000px){
  #root{
    max-width: 180rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0rem;
    padding-right: $size-padding;
  }

  .mobile-header{
    display: none;
  }
  .mobile-nav{
    display: none;
  }
  .side-nav{
    min-height: 100vh;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    position: fixed;
    padding: $size-padding;
    padding-right: 0rem;
  
    .logo{
      width: 100%;
    }
  
    ul{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5rem;
      
      li{
        list-style: none;
        a{
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          span{
            position: absolute;
            font-family: $font;
            color:$white ;
            font-size: 1.1rem;
  
          }
        }
        .active{
          #Path_1611{
            fill: $background-active;
            }
        }
      }
    }

    .dropdown{
      .name-flag{
         left: 1.7rem;
      }
    }
  
  }
}