@import url("http://fonts.cdnfonts.com/css/qatar2022-arabic");
@import url("http://fonts.cdnfonts.com/css/qatar2022-arabic");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #711329;
  font-family: "Qatar2022 Arabic", sans-serif;
}

#root {
  padding: 0.5rem;
}

.side-nav {
  display: none;
}

.separtor {
  display: none;
}

.stream-desktop {
  display: none;
}

.mobile-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.mobile-header .logo {
  width: 40vw;
}
.mobile-header .layout-dropdown {
  position: relative;
  width: 26vw;
}
.mobile-header .layout-dropdown .dropdown {
  background: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mobile-header .layout-dropdown .dropdown svg:first-child {
  width: 100%;
  height: 100%;
}
.mobile-header .layout-dropdown .dropdown .content-button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-left: 1.7vw;
  padding-right: 1.7vw;
}
.mobile-header .layout-dropdown .dropdown .content-button .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-header .layout-dropdown .dropdown .content-button .arrow svg:first-child {
  width: 5vw;
}
.mobile-header .layout-dropdown .dropdown .content-button .arrow svg:last-child {
  position: absolute;
  color: #EEEEE4;
  width: 4vw;
  height: 4vw;
}
.mobile-header .layout-dropdown .dropdown .content-button .name-flag {
  display: flex;
  align-items: center;
  gap: 1.2vw;
}
.mobile-header .layout-dropdown .dropdown .content-button .name-flag img {
  width: 8vw;
}
.mobile-header .layout-dropdown .dropdown .content-button .name-flag span {
  font-family: "Qatar2022 Arabic", sans-serif;
  font-size: 4vw;
  color: #80192E;
}
.mobile-header .layout-dropdown .dropdown:hover {
  opacity: 0.9;
  transform: scale(0.9);
  transition: all 0.3s;
}
.mobile-header .layout-dropdown .list-item {
  position: absolute;
  display: none;
  margin-top: 2vw;
}
.mobile-header .layout-dropdown .list-item .item {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.7vw;
  padding-right: 1.7vw;
  gap: 1.7vw;
  width: 100%;
}
.mobile-header .layout-dropdown .list-item .item button {
  display: flex;
  align-items: center;
  gap: 1.2vw;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 1vw;
}
.mobile-header .layout-dropdown .list-item .item button:hover, .mobile-header .layout-dropdown .list-item .item button:focus {
  background-color: rgb(211, 208, 208);
}
.mobile-header .layout-dropdown .list-item .item button img {
  width: 8vw;
}
.mobile-header .layout-dropdown .list-item .item button span {
  font-family: "Qatar2022 Arabic", sans-serif;
  font-size: 4vw;
  color: #80192E;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.3rem;
  background-color: #EEEEE4;
  z-index: 2;
}
.mobile-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav ul li {
  list-style: none;
}
.mobile-nav ul li a {
  display: flex;
  color: #80192E;
  font-size: 8vw;
  border-radius: 3.125rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
.mobile-nav ul li a:hover {
  color: rgba(128, 25, 46, 0.9);
  transform: scale(0.9);
  transition: all 0.3s;
}
.mobile-nav ul li .active {
  background-color: #E32052;
  color: #EEEEE4;
}
.mobile-nav ul li .active:hover {
  color: #EEEEE4;
  opacity: 0.9;
}

main {
  padding-top: 2rem;
  padding-bottom: 15.5vw;
  display: flex;
  flex-direction: column;
  gap: 9vw;
  overflow: hidden;
}
main .group-matches {
  display: flex;
  flex-direction: column;
  gap: 9vw;
}
main .group-matches .group-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .group-matches .group-head svg {
  width: 70vw;
}
main .group-matches .all-matches {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
main .group-matches .all-matches .match {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
main .group-matches .all-matches .match img {
  width: 15vw;
}
main .group-matches .all-matches .match .team-name {
  font-size: 4vw;
  color: #EEEEE4;
  width: 26.8vw;
  text-align: center;
  overflow: hidden;
}
main .group-matches .all-matches .match .match-play {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}
main .group-matches .all-matches .match .match-play .team {
  display: flex;
  align-items: center;
  width: 100%;
}
main .group-matches .all-matches .match .match-play .team-right {
  flex-direction: row-reverse;
}
main .group-matches .all-matches .match .match-play .play-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3.125rem;
  background: none;
  border: none;
  cursor: pointer;
}
main .group-matches .all-matches .match .match-play .play-button svg {
  width: 7vw;
}
main .group-matches .all-matches .match .match-time {
  display: flex;
  justify-content: space-between;
}
main .group-matches .all-matches .match .match-time .teams {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
}
main .group-matches .all-matches .match .match-time .teams .team {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}
main .group-matches .all-matches .match .match-time .teams .team span {
  width: 15vw;
  font-size: 3.5vw;
  color: #EEEEE4;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
}
main .group-matches .all-matches .match .match-time .teams .vs {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main .group-matches .all-matches .match .match-time .teams .vs svg {
  width: 5.5vw;
}
main .group-matches .all-matches .match .match-time .start-time {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.5vw;
}
main .group-matches .all-matches .match .match-time .start-time svg {
  width: 10vw;
}
main .group-matches .all-matches .match .match-time .start-time .time {
  display: flex;
  gap: 1vw;
  width: 20.8vw;
  overflow: hidden;
}
main .group-matches .all-matches .match .match-time .start-time .time span {
  color: #EEEEE4;
  font-size: 7vw;
}
main .match-stream {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
main .match-stream video {
  width: 100%;
  border-radius: 0.5rem;
}
main .details-match {
  display: flex;
  flex-direction: column;
  gap: 8vw;
}
main .details-match .group {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .details-match .group svg {
  width: 70vw;
}
main .btn-display {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
main .btn-display .hide {
  background-color: #60071E;
  position: absolute;
  height: 100%;
  z-index: -1;
}
main .btn-display .hide-left {
  width: 2.5vw;
}
main .btn-display .hide-right {
  width: 4.4vw;
}
main .btn-display button {
  background: none;
  border: none;
  width: 34vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .btn-display button span {
  position: absolute;
  color: #EEEEE4;
  font-family: "Qatar2022 Arabic", sans-serif;
  font-size: 3vw;
}
main .btn-display .show span {
  color: #60071E;
}
main .btn-display .hide-item-left span {
  padding-left: 4.4vw;
}
main .btn-display .hide-item-right span {
  padding-right: 2.5vw;
}
main .match-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
main .match-info .item-info {
  display: flex;
  width: auto;
  position: relative;
  align-items: center;
}
main .match-info .item-info svg {
  width: 100%;
  height: 100%;
}
main .match-info .item-info span {
  position: absolute;
  padding-left: 6.4vw;
  width: 100%;
  font-size: 2.5vw;
  color: #EEEEE4;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

.reverse main .all-matches .match .match-play {
  flex-direction: row-reverse;
}
.reverse main .all-matches .match .match-play .team {
  flex-direction: row;
}
.reverse main .all-matches .match .match-play .team:first-child {
  flex-direction: row-reverse;
}
.reverse main .all-matches .match .match-play .team .team-name {
  direction: rtl;
}
.reverse main .all-matches .match .match-time {
  flex-direction: row-reverse;
}
.reverse main .all-matches .match .match-time .teams {
  flex-direction: row-reverse;
}
.reverse main .all-matches .match .start-time {
  flex-direction: row-reverse;
}
.reverse main .match-info {
  flex-direction: row-reverse;
}
.reverse main .match-info .item-info span {
  padding-left: 0;
  padding-right: 6.4vw;
  direction: rtl;
  right: 0;
}

.view-stats {
  flex-direction: column;
  gap: 5vw;
  display: none;
}
.view-stats .teams-stats {
  flex: 1;
  display: flex;
  gap: 5vw;
}
.view-stats .teams-stats .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  flex: 1;
}
.view-stats .teams-stats .team img {
  width: 17vw;
}
.view-stats .teams-stats .team span {
  color: #EEEEE4;
  font-size: 3.2vw;
}
.view-stats .teams-stats .vs {
  width: 7vw;
}
.view-stats .stats {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.view-stats .stats .stat-type {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
}
.view-stats .stats .stat-type .title-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EEEEE4;
  font-size: 3vw;
  gap: 1vw;
}
.view-stats .stats .stat-type .title-stat svg {
  width: 3.5vw;
}
.view-stats .stats .stat-type .info-stats {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.view-stats .stats .stat-type .info-stats .stat-team {
  position: absolute;
  background-color: #47B7AB;
  border-radius: 3.125rem;
  width: 60%;
  height: 1.2vw;
  z-index: 1;
}
.view-stats .stats .stat-type .info-stats .stat-team span {
  position: absolute;
  top: -4.3vw;
  left: 0;
  color: #B5B4B4;
  font-size: 2.5vw;
}
.view-stats .stats .stat-type .info-stats .stat-team-right {
  right: 0;
  width: 50%;
  background-color: #E32052;
  z-index: -1;
}
.view-stats .stats .stat-type .info-stats .stat-team-right span {
  left: auto;
  right: 0;
}
.view-stats .stats .stat-type .equal .stat-team {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.view-stats .stats .stat-type .equal .stat-team-right {
  border-radius: 3.125rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.view-gam-plan {
  justify-content: space-between;
  align-items: flex-start;
  display: none;
}
.view-gam-plan .teams-gam-plan {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.view-gam-plan .teams-gam-plan .info-team {
  display: flex;
  gap: 2.5vw;
}
.view-gam-plan .teams-gam-plan .info-team .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.view-gam-plan .teams-gam-plan .info-team .team img {
  width: 17vw;
}
.view-gam-plan .teams-gam-plan .info-team .team .team-name {
  color: #EEEEE4;
  font-size: 3.2vw;
}
.view-gam-plan .teams-gam-plan .info-team .gam-plan {
  display: flex;
  color: #EEEEE4;
  position: relative;
  top: 1vw;
  font-size: 3.2vw;
  display: flex;
  align-items: flex-start;
  gap: 1vw;
}
.view-gam-plan .teams-gam-plan .info-team .gam-plan svg {
  position: relative;
  top: 0.5vw;
  width: 2.5vw;
}
.view-gam-plan .teams-gam-plan .btn-display .hide-left {
  width: 1.5vw;
}
.view-gam-plan .teams-gam-plan .btn-display .hide-right {
  width: 3vw;
}
.view-gam-plan .teams-gam-plan .btn-display button {
  width: 100%;
}
.view-gam-plan .teams-gam-plan .btn-display button span {
  font-size: 2vw;
}
.view-gam-plan .teams-gam-plan .btn-display .hide-item-right span {
  padding-right: 1.5vw;
}
.view-gam-plan .teams-gam-plan .btn-display .hide-item-left span {
  padding-left: 3vw;
}
.view-gam-plan .teams-gam-plan .team-players {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .titlePosition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .titlePosition svg {
  width: 12.8vw;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .titlePosition span {
  color: #EEEEE4;
  font-size: 3vw;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player {
  display: flex;
  gap: 2vw;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player img {
  width: 8vw;
  height: 8vw;
  border-radius: 3.125rem;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player .info-player {
  display: flex;
  flex-direction: column;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player .info-player .name-player {
  color: #EEEEE4;
  font-size: 2.8vw;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player .info-player .number-player {
  position: relative;
  display: flex;
  width: 8vw;
  justify-content: center;
  align-items: center;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player .info-player .number-player svg {
  fill: #47B7AB;
}
.view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player .info-player .number-player .number {
  position: absolute;
  display: flex;
  align-items: center;
  padding-top: 0.3vw;
  color: #EEEEE4;
  font-size: 1.8vw;
  height: 100%;
}
.view-gam-plan .vs {
  width: 7vw;
}
.view-gam-plan .team-gam-plan-right .info-team {
  flex-direction: row-reverse;
}
.view-gam-plan .team-gam-plan-right .number-player-right svg {
  fill: #E32052 !important;
}

.show-list {
  display: flex;
}

.hide-list {
  display: none;
}

@media screen and (max-width: 252px) {
  #root {
    width: 252px;
  }
}
@media screen and (min-width: 1000px) {
  #root {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0rem;
    max-width: 120rem;
  }
  .mobile-header {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .side-nav {
    min-height: 100vh;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    position: fixed;
    padding: 1.5rem;
    padding-right: 0rem;
    z-index: 1;
  }
  .side-nav .logo {
    width: 100%;
  }
  .side-nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .side-nav ul li {
    list-style: none;
  }
  .side-nav ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-nav ul li a svg {
    fill: #60071e;
  }
  .side-nav ul li a:hover {
    opacity: 0.9;
    transform: scale(0.9);
    transition: all 0.3s;
  }
  .side-nav ul li a span {
    position: absolute;
    font-family: "Qatar2022 Arabic", sans-serif;
    color: #EEEEE4;
    font-size: 1.1rem;
  }
  .side-nav ul li .active #Path_1611 {
    fill: #E32052;
  }
  .side-nav .layout-dropdown {
    display: flex;
    position: relative;
  }
  .side-nav .layout-dropdown .dropdown {
    background: none;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 12.5rem;
  }
  .side-nav .layout-dropdown .dropdown:hover {
    opacity: 0.9;
    transform: scale(0.9);
    transition: all 0.3s;
  }
  .side-nav .layout-dropdown .dropdown .arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0.7rem;
  }
  .side-nav .layout-dropdown .dropdown .arrow .content-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .side-nav .layout-dropdown .dropdown .arrow .content-arrow svg:last-child {
    position: absolute;
    color: #EEEEE4;
  }
  .side-nav .layout-dropdown .name-flag {
    position: absolute;
    left: 1.7rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .side-nav .layout-dropdown .name-flag img {
    width: 2.2rem;
  }
  .side-nav .layout-dropdown .name-flag span {
    font-family: "Qatar2022 Arabic", sans-serif;
    font-size: 1.1rem;
    color: #80192E;
  }
  .side-nav .layout-dropdown .list-item {
    position: absolute;
    bottom: -0.5rem;
    left: 13rem;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .side-nav .layout-dropdown .list-item .item {
    position: absolute;
    width: 100%;
    top: 0.8rem;
    height: 7.7rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  .side-nav .layout-dropdown .list-item .item button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.4rem;
  }
  .side-nav .layout-dropdown .list-item .item button:hover, .side-nav .layout-dropdown .list-item .item button:focus {
    background-color: rgb(211, 208, 208);
  }
  .side-nav .layout-dropdown .list-item .item button img {
    width: 2.2rem;
  }
  .side-nav .layout-dropdown .list-item .item button span {
    font-family: "Qatar2022 Arabic", sans-serif;
    font-size: 1.1rem;
    color: #80192E;
  }
  .side-nav .layout-dropdown .show {
    display: flex;
  }
  .separtor {
    min-height: 100vh;
    padding: 1.5rem 0 1.5rem 0;
    position: fixed;
    margin-left: 17.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    margin-left: 18.5rem;
    padding: 3.5rem 3.4rem 3.5rem 3.4rem;
    gap: 6rem;
    width: 100%;
  }
  main .group-matches {
    gap: 6rem;
  }
  main .group-matches .group-head svg {
    width: 28.782rem;
    height: 3.704rem;
  }
  main .group-matches .all-matches {
    gap: 3rem;
  }
  main .group-matches .all-matches .match {
    gap: 2rem;
  }
  main .group-matches .all-matches .match img {
    width: 7.5rem;
  }
  main .group-matches .all-matches .match .team-name {
    font-size: 1.6rem;
    color: #EEEEE4;
    width: auto;
  }
  main .group-matches .all-matches .match .match-play {
    justify-content: space-around;
  }
  main .group-matches .all-matches .match .match-play .team {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 0.3rem;
  }
  main .group-matches .all-matches .match .match-play .team span {
    width: 8.7rem;
  }
  main .group-matches .all-matches .match .match-play .play-button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 3.125rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  main .group-matches .all-matches .match .match-play .play-button svg {
    width: 49.27px;
    height: 49.27px;
  }
  main .group-matches .all-matches .match .match-time {
    display: flex;
    justify-content: space-around;
  }
  main .group-matches .all-matches .match .match-time .teams .team {
    gap: 0.3rem;
  }
  main .group-matches .all-matches .match .match-time .teams .team span {
    width: 7.5rem;
    font-size: 1.5rem;
  }
  main .group-matches .all-matches .match .match-time .teams .vs svg {
    width: 2.1rem;
  }
  main .group-matches .all-matches .match .match-time .start-time {
    gap: 1.4rem;
  }
  main .group-matches .all-matches .match .match-time .start-time svg {
    width: 4rem;
  }
  main .group-matches .all-matches .match .match-time .start-time .time {
    gap: 0.5rem;
    width: auto;
    width: 9.2rem;
  }
  main .group-matches .all-matches .match .match-time .start-time .time span {
    font-size: 3rem;
  }
  main .match-stream {
    display: none;
  }
  main .details-match {
    display: none;
  }
  main .stream-desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  main .stream-desktop .stream-gam-plan {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
  }
  main .stream-desktop .stream-gam-plan .stream {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  main .stream-desktop .stream-gam-plan .stream .match-info {
    justify-content: space-between;
  }
  main .stream-desktop .stream-gam-plan .stream video {
    width: 100%;
    border-radius: 0.7rem;
  }
  main .stream-desktop .stats-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1;
  }
  main .stream-desktop .stats-info .group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .stream-desktop .stats-info .group svg {
    width: 18rem;
  }
  main .stream-desktop .stats-info .view-stats {
    gap: 0.8rem;
  }
  main .stream-desktop .stats-info .view-stats .teams-stats {
    align-items: flex-start;
    justify-content: space-around;
    gap: 0;
  }
  main .stream-desktop .stats-info .view-stats .teams-stats .team {
    flex: 0;
    gap: 0.3rem;
  }
  main .stream-desktop .stats-info .view-stats .teams-stats .team img {
    width: 5rem;
  }
  main .stream-desktop .stats-info .view-stats .teams-stats .team span {
    font-size: 1.2rem;
  }
  main .stream-desktop .stats-info .view-stats .teams-stats .vs {
    width: 2.1rem;
  }
  main .stream-desktop .stats-info .view-stats .stats {
    gap: 3rem;
  }
  main .stream-desktop .stats-info .view-stats .stats .stat-type {
    gap: 1rem;
  }
  main .stream-desktop .stats-info .view-stats .stats .stat-type .title-stat {
    gap: 0.5rem;
    font-size: 1.2rem;
  }
  main .stream-desktop .stats-info .view-stats .stats .stat-type .title-stat svg {
    width: 1rem;
  }
  main .stream-desktop .stats-info .view-stats .stats .stat-type .info-stats .stat-team {
    height: 0.3rem;
  }
  main .stream-desktop .stats-info .view-stats .stats .stat-type .info-stats span {
    top: -1.4rem;
    font-size: 0.9rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan {
    gap: 1.6rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .info-team {
    gap: 1.3rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .info-team .team {
    gap: 0.3rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .info-team .team img {
    width: 5rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .info-team .team span {
    font-size: 1.2rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .info-team .gam-plan {
    gap: 0.5rem;
    font-size: 1.3rem;
    top: 0.3rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .info-team .gam-plan svg {
    top: 0.3rem;
    width: 0.8rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players {
    gap: 1.7rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .btn-display button span {
    font-size: 0.9rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .btn-display .hide-left {
    width: 0.7rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .btn-display .hide-right {
    width: 1.2rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .btn-display .hide-item-left span {
    padding-left: 1.2rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .btn-display .hide-item-right span {
    padding-right: 0.7rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions {
    gap: 1.7rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions .titlePosition {
    gap: 0.5rem;
    width: 100%;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions .titlePosition span {
    font-size: 1.2rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions .titlePosition svg {
    width: 100%;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion {
    gap: 1.7rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players {
    gap: 1.5rem;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player {
    gap: 0.5rem !important;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player img {
    width: 3.5rem !important;
    height: 3.5rem !important;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player .info-player {
    gap: 0;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player .info-player .name-player {
    font-size: 1rem !important;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player .info-player .number-player {
    width: 2.5rem !important;
  }
  main .stream-desktop .view-gam-plan .teams-gam-plan .team-players .list-positions .players-postion .list-players .player .info-player .number-player .number {
    display: flex;
    padding-top: 0.1rem;
    font-size: 0.7rem !important;
  }
  main .stream-desktop .view-gam-plan .vs {
    width: 2.1rem;
  }
  main .match-info {
    justify-content: space-around;
    gap: 0.5rem;
  }
  main .match-info .item-info svg {
    width: 12.047rem;
    height: 2.728rem;
  }
  main .match-info .item-info span {
    padding-left: 2.7rem;
    font-size: 1rem;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .reverse .side-nav {
    padding-right: 1.5rem;
    padding-left: 0rem;
  }
  .reverse .side-nav .layout-dropdown .dropdown .arrow {
    right: 0;
    left: 0.7rem;
    justify-content: flex-start;
  }
  .reverse .side-nav .layout-dropdown .dropdown .name-flag {
    left: 0;
    right: 1.7rem;
    flex-direction: row-reverse;
  }
  .reverse .side-nav .list-item {
    left: -12rem;
  }
  .reverse .side-nav .list-item .item button {
    flex-direction: row-reverse;
  }
  .reverse .separtor {
    margin-left: 0;
    margin-right: 17.5rem;
  }
  .reverse main {
    margin-left: 0;
    margin-right: 18.5rem;
  }
  .reverse main .match-info .item-info span {
    padding-left: 0;
    padding-right: 2.7rem;
  }
}/*# sourceMappingURL=App.css.map */